---
const { post } = Astro.props;
const url = `/blog/${post.slug}`;
---
<article
  class="bx--tile bx--tile--clickable bx--tile--light blog-card"
  data-tags={(post.data.tags || []).join(' ')}
  onclick={`if(!event.target.closest('a')){window.location='${url}'}`}
>
  <h3 class="bx--type-expressive-heading-03">
    <a href={url} class="bx--link">{post.data.title}</a>
  </h3>
  {post.data.pubDate && (
    <p class="bx--type-productive-heading-01">{post.data.pubDate.toLocaleDateString()}</p>
  )}
  {post.data.description && <p>{post.data.description}</p>}
  {post.data.tags?.length ? (
    <p>
      {post.data.tags.map(t => (
        <a href={`/blog/tags/${t}`} class="bx--tag">{t}</a>
      ))}
    </p>
  ) : null}
</article>
